.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__map {
    color: var(--primary-white-color);
}

.address__mailto,
.address__tel {
    color: rgba(255, 255, 255, 0.6);
}
