.btn {
    color: var(--primary-white-color);
    background-color: var(--hover-and-focus-color);
    border: transparent solid 1px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(.4, 0, .2, 1),
        color 250ms cubic-bezier(.4, 0, .2, 1),
        box-shadow 250ms cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--btn-hover-color);
    }
}


