.features {
    font-size: 14px;
    text-align: left;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: #{768px-0.02}) {
        flex-direction: column;
    }   
}
.features__item {
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
    }
}
.features__icons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--button-no-active);
    margin-bottom: 30px;
}
.features__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    @media screen and (max-width: #{768px-0.02}) {
        text-align: center;
    }
}
.features__text {
    color: var(--accent-text-color);
    line-height: 1.71;
}
