.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.filter__btn {
  color: var(--primary-text-color);
  background-color: var(--button-no-active);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: none;
  padding: 6px 22px;

  &--current,
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--hover-and-focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/* .filter__btn-item:not(:last-child) {
  margin-right: 8px;
} */