.footer {
    background-color: var(--accent-bgd-color);
    margin: 0 auto;
    padding: 60px 0;
}
.footer__control-box {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    flex-wrap: wrap;    
    row-gap: 60px;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: #{1200px-0.02}) {
        flex-direction: row;
        // flex-basis: calc((100% - 60px) / 2);        
        justify-content: space-around;
        align-items: flex-start;        
    }
        // justify-content: space-between;     
    @media screen and (min-width: 1200px) {
        align-items: baseline;
        flex-direction: row;
        text-align: left;       
        // gap: 0;                       
    }
}
.footer__address-box {
    @media screen and (min-width: 1200px) {
        flex-grow: 1;
    }
}
.footer__logo {
    margin-bottom: 20px;
}
.footer__btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;
    gap: 10px;
}
.footer__btn-icon {
    fill: var(--primary-white-color);
}
