.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
    gap: 93px;
}
.header__logo {
    padding: 24px 0 25px 0;
}
.site-nav,
.auth-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}
.site-nav__link,
.auth-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.site-nav__link {
    position: relative;
    display: block;
    color: var(--primary-text-color);
}
.site-nav__link--current-page {
    color: var(--hover-and-focus-color);

    &::after {
        position: absolute;
        display: block;
        content: ' ';
        width: 100%;
        height: 4px;
        left: 0%;
        bottom: -1px;
        background-color: var(--hover-and-focus-color);
        border-radius: 2px;
    }
}
.auth-nav__link {
    display: flex;
    align-items: center;    
    gap: 10px;
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
    
    &:hover,
    &:focus {
        fill: var(--hover-and-focus-color);
        color: var(--hover-and-focus-color);
    }
}
/* .site-nav-item+.site-nav-item,
.auth-nav-item+.auth-nav-item {
  margin-left: 50px;
} */
