.header {
    border-bottom: 1px solid #ECECEC;


}
.header__container {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__logo {
    padding: 16px 0;

    @media screen and (min-width: 768px) {
        padding: 26px 0;

    }
    @media screen and (min-width: 1200px) {
        padding: 24px 0 25px 0;
    }
}
.header__burger-menu {
    display: block;
    background-color: var(--primary-white-color);
    border: transparent;
    @media screen and (min-width: 768px) {
            display: none;
    }
}
.header__burger-icon {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}
.site-nav {

    @media screen and (max-width: #{768px-0.02}) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 50px;

    }
    
}
.auth-nav {    
    @media screen and (max-width: #{768px-0.02}) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 30px;
    } 
}
.site-nav__link,
.auth-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}
.site-nav__link {
    position: relative;
    display: block;
    color: var(--primary-text-color);
    padding: 32px 0;
}
.site-nav__link--current-page {
    color: var(--hover-and-focus-color);

    &::after {
        position: absolute;
        display: block;
        content: ' ';
        width: 100%;
        height: 4px;
        left: 0%;
        bottom: -1px;
        background-color: var(--hover-and-focus-color);
        border-radius: 2px;
    }
}
.auth-nav__link {
    @media screen and (max-width: 480px) {
    display: none;
    }
    @media screen and (max-width: #{768px-0.02}) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;    
        gap: 10px;
        padding: 5px 0;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;    
        gap: 10px;
        padding: 32px 0;
    }
    
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
    
    &:hover,
    &:focus {
        fill: var(--hover-and-focus-color);
        color: var(--hover-and-focus-color);
    }
}
/* .site-nav-item+.site-nav-item,
.auth-nav-item+.auth-nav-item {
  margin-left: 50px;
} */
