.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    width: 528px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--primary-white-color);
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1),
        box-shadow 250ms cubic-bezier(.4, 0, .2, 1),
        opacity 250ms cubic-bezier(.4, 0, .2, 1);
    padding: 40px 40px;
}
.modal__title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}
.modal__btn {
    display: block;
    padding: 10px 52px;
    margin: 0 auto;
}
