
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product__item {
    flex-basis: calc((100% - 60px) / 3);
    /* width: calc((100% - 60px) / 3); */
}
.product__link {
    transition: box-shadow 250ms cubic-bezier(.4, 0, .2, 1);

    &:hover,
    &:focus {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.product__img-box {
    position: relative;
    overflow: hidden;
}
.product__overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);

    .product__link:hover &,
    .product__link:focus & {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
    }
}
.product__box {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}
.product__title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.product__text {
    color: var(--accent-text-color);
    font-size: 16px;
    line-height: 1.88;
}
