:root {
    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --hover-and-focus-color: #2196F3;
    --button-no-active: #f5f4fa;
    --accent-text-color: #757575;
    --accent-bgd-color: #2F303A;
    --social-links-color: #afb1b8;
    --btn-hover-color: #188CE8;
}
