:root {
    --primary-text-color: #212121;
    --primary-white-color: #ffffff;
    --hover-and-focus-color: #2196F3;
    --button-no-active: #f5f4fa;
    --accent-text-color: #757575;
    --accent-bgd-color: #2F303A;
    --social-links-color: #afb1b8;
    --btn-hover-color: #188CE8;
    --lg: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

// @mixin for-size($range) {
//     $mobile: 480px;
//     $tablet: 768px;
//     $desktop: 1200px;

//     @if $range ==mobile-only {
//         @media screen and (max-width: #{$tablet - 0.02}) {
//             @content;
//         }
//     }
//     @else if $range ==mobile {
//         @media screen and (min-width: $mobile) {
//             @content;
//         }
//     }
//     @else if $range ==tablet-only {
//         @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
//             @content;
//         }
//     }
//     @else if $range ==tablet {
//         @media screen and (min-width: $tablet) {
//             @content;
//         }
//     }
//     @else if $range ==desktop {
//         @media screen and (min-width: $desktop) {
//             @content;
//         }
//     }
//     @else if $range ==retina {

//         @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         screen and (min-resolution: 2dppx) {
//             @content;
//         }
//     }
//     @else if $range ==notDesktop {
//         @media screen and (max-width: #{$desktop - 0.02}) {
//             @content;
//         }
//     }
// }

    // @include for-size(size8px) {

    // }

    // <picture>
    //     <source media="(min-width: 1200px)" srcset="./images/member1-desktop-2x.webp 2x, ./images/member1-desktop-1x.webp 1x">
    //     <source media="(min-width: 1200px)" srcset="./images/member1-desktop-2x.jpg 2x, ./images/member1-desktop-1x.jpg 1x">
    //     <source media="(min-width: 768px)" srcset="./images/member1-tablet-2x.webp 2x, ./images/member1-tablet-1x.webp 1x">
    //     <source media="(min-width: 768px)" srcset="./images/member1-tablet-2x.jpg 2x, ./images/member1-tablet-1x.jpg 1x">
    //     <source media="(max-width: #{768px-0.02})" srcset="./images/member1-mobile-2x.webp 2x, ./images/member1-mobile-1x.webp 1x">
    //     <source media="(max-width: #{768px-0.02})" srcset="./images/member1-mobile-2x.jpg 2x, ./images/member1-mobile-1x.jpg 1x">
    //     <img class="image" src="./images/member1-mobile-1x.jpg .jpg" alt="Ігор Дем'яненко">
    // </picture>

    // <picture>
    // <source 
    //     media="(min-width: 1200px)" 
    //     srcset="./img/img1@1x.webp 1x, ./img/img1@2x.webp 2x" 
    //     type="image/webp"
    // />
    // <source media="(min-width: 1200px)" srcset="./img/p1@2x.jpg 2x, ./img/p1@1x.jpg 1x">
    // <source media="(min-width: 768px)" srcset="./img/p1tabl@2x.jpg 2x, ./img/p1tabl@1x.jpg 1x">
    // <source media="(max-width: 767px)" srcset="./img/p1mob@2x.jpg 2x, ./img/p1mob@1x.jpg 1x">
    // </picture>
        
    // <picture>
    //     <source 
    //     media="(min-width: 1200px)"
    //     srcset="./img/p1@1x.webp 1x, ./img/@2x.webp 2x" type="image/webp" />        
    //     <source 
    //     media="(min-width: 1200px)" 
    //     srcset="./img/p1@1x.jpg 1x, ./img/p1@2x.jpg 2x" />
    //     <source 
    //     media="(min-width: 768px)" 
    //     srcset="./img/p1tabl@1x.webp 1x, ./img/p1tabl@2x.webp 2x" type="image/webp" />
    //     <source 
    //     media="(min-width: 768px)"
    //     srcset="./img/p1tabl@1x.jpg 1x, ./img/p1tabl@2x.jpg 2x" />
    //     <source 
    //     media="(max-width: 767px)"
    //     srcset="./img/p1mob@1x.webp 1x, ./img/p1mob@2x.webp 2x"
    //     type="image/webp"/>
    //     <source 
    //     media="(max-width: 767px)"
    //     srcset="./img/p1mob@1x.jpg 1x, ./img/p1mob@2x@2x.jpg 2x" />
    //     <img src="./images/team-image/mobile.jpg" alt="дизайнер" />
    // </picture>

// <picture>
// <source media="(min-width: 1200px)"
// srcset="
//  ./images/team-image/product-designer-desktop.webp 1x,
// ./images/team-image/product-designer-desktop@2x.webp 2x "
//  type="image/webp"
// /><source media="(min-width: 1200px)"
// srcset="
//  ./images/team-image/product-designer-desktop.jpg 1x,
// ./images/team-image/product-designer-desktop@2x.jpg 2x "
//  /><source media="(min-width: 768px)"
// srcset="
//  ./images/team-image/product-designer-tablet.webp 1x,
// ./images/team-image/product-designer-tablet@2x.webp 2x "
//  type="image/webp"
// /><source media="(min-width: 768px)"
// srcset="
//  ./images/team-image/product-designer-tablet.jpg 1x,
// ./images/team-image/product-designer-tablet@2x.jpg 2x "
//  /><source media="(max-width: 767px)"
// srcset="
//  ./images/team-image/product-designer-mobile.webp 1x,
// ./images/team-image/product-designer-mobile@2x.webp 2x "
//  type="image/webp"
// /><source media="(max-width: 767px)"
// srcset="
//  ./images/team-image/product-designer-mobile.jpg 1x,
// ./images/team-image/product-designer-mobile@2x.jpg 2x "
//  /><img class="image"
// src="./images/team-image/product-designer-mobile.jpg"
// alt="дизайнер продукту"
// /></picture>
